@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-normal;
}
:root {
  --highlight: #81d0e5;
  --defused: #c4e5ee;
  --hover: #73adbd;
}
@layer utilities {
  header button {
    @apply hover:bg-hover transition-all ease-in-out duration-75;
  }
}
