@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-normal;
}
:root {
  /* All colors RGB */
  --background: 240, 242, 245;
  --highlight: 129, 208, 229;
  --defused: 196, 229, 238;
  --hover: 115, 173, 189;

  --main: 255, 255, 255;

  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
