@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(96.05% 0.0046 258.32);
  --color-highlight: oklch(81.41% 0.083 216.61);
  --color-defused: oklch(90.09% 0.0368 216.03);
  --color-hover: oklch(71.35% 0.0645 217.02);

  --color-main: oklch(100% 0 360);

  --color-primary: oklch(0% 0 0);
  --color-secondary: oklch(100% 0 360);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer utilities {
  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
